﻿@model User

<header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="container">
        <div class="card">
            <div class="card-body">
                <img src="@Model.Avatar"
                     class="round mh-100"
                     style="width: 200px; height: 200px; border-radius: 50%; border: 3px solid black;"
                     alt="..."><br />
            </div>
            <div class="card-body" style="width: max-content;">
                <div class="card-body">
                    <h5 class="card-title" id="cardName">@Model.UserName</h5>
                    <p class="card-text">Электронная почта: <span id="cardEmail"> @Model.Email </span></p>
                    <p class="card-text">Номер мобильного телефона: <span id="cardPhone">@Model.PhoneNumber</span></p>
                    <p class="card-text">Категория пользователя: <span id="cardCategory">@Model.Category</span></p>
                    <p class="card-text">
                        Дата рождения: <span id="cardDateOfBirth">@Model.DateOfBirth.ToString("dd MM yyyy")</span>
                    </p>
                    <p class="card-text">Страна: <span id="cardCountry">@Model.Country</span></p>
                    @if (DateTime.Now > Model.ContributionTime)
                    {
                        <p class="card-text">Взнос до: <span id="cardDateofContribution" style="color:#ff0000">@Model.ContributionTime.ToString("dd MM yyyy")</span></p>
                    }
                    else
                    {
                        <p class="card-text">Взнос до: <span id="cardDateofContribution">@Model.ContributionTime.ToString("dd MM yyyy")</span></p>
                    }
                    <div class="custom-control custom-switch pb-3">
                        @if (Model.Status == Tennis.ViewModels.StatusPerson.NonActive)
                        {
                            <input type="checkbox" class="custom-control-input" id="customSwitch1" onclick="Switch('@Model.Id')" />
                            <label class="custom-control-label" for="customSwitch1">Поменять статус </label> }
                        else
                        {
                            <input type="checkbox" checked class="custom-control-input" id="customSwitch2" onclick="Switch('@Model.Id')" />
                            <label class="custom-control-label" for="customSwitch2">Поменять статус </label>}
                    </div>
                    <a class="btn-primary p-1 rounded-sm" asp-area="" data-toggle="modal" data-target="#myModal">Редактировать</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Редактирование</h4>
                </div>
                <div class="modal-body">
                    <form method="post">
                        <div asp-validation-summary="ModelOnly"></div>
                        <div>
                            <label for="Email">Адрес электронной почты</label><br />
                            <input id="Email" value="@Model.Email" />
                        </div>
                        <div>
                            <label for="Name">Имя</label><br />
                            <input id="Name" value="@Model.Name" />
                        </div>
                        <div>
                            <label for="Country">Страна </label><br />
                            <input id="Country" value="@Model.Country" />
                        </div>
                        <div>
                            <label for="DateOfBirth"> Дата рождения</label><br />
                            <input type="date" id="DateOfBirth" value="@Model.DateOfBirth)" />
                        </div>
                        <div>
                            <label for="Points">Очки</label><br />
                            <input id="Points" value="@Model.Points" />
                        </div>
                        <div>
                            @Html.DropDownListFor(m => m.Category,
                                                                  new SelectList(Enum.GetValues(typeof(Tennis.ViewModels.CategoryPerson))))
                        </div>
                        <div>
                            <label for="PhoneNumber"> Номер телефона</label><br />
                            <input id="PhoneNumber" value="@Model.PhoneNumber" />
                        </div>
                        <div>
                            <label for="ContributionTime">Дата истечения взноса</label><br />
                            <input type="date" id="ContributionTime" value="@Model.ContributionTime)" />
                        </div>
                        <div>
                            <input type="submit" value="Сохранить" data-dismiss="modal" onclick="Edit('@Model.Id')" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                </div>
            </div>

        </div>
    </div>
</header>


<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>




        function Edit(Id) {
            let user = {
            'Id': Id,
            'Email': $("#Email").val(),
            'Name': $("#Name").val(),
            'Country': $("#Country").val(),
            'DateOfBirth': $("#DateOfBirth").val(),
            'Points': $("#Points").val(),
            'Category': $("#Category").val(),
            'PhoneNumber': $("#PhoneNumber").val(),
            'ContributionTime': $("#ContributionTime").val()

        }
        $.post('@Url.Action("Edit", "Admin")', {
            u: user,
        }, function (response) {
                console.log(response)
                $("#cardName").text($("#Name").val())
                $("#cardEmail").text($("#Email").val())
                $("#cardPhone").text($("#PhoneNumber").val())
                $("#cardCategory").text($("#Category").val())
                $("#cardCountry").text($("#Country").val())
                console.log(response.dateOfBirth)
                var birthDate = new Date(response.dateOfBirth)
                var normalbirthmonth = birthDate.getMonth()+1
                $("#cardDateOfBirth").text(birthDate.getDate().toString() + " " + normalbirthmonth.toString() + " " + birthDate.getFullYear().toString());
                console.log(response.contributionTime)
                var contributionDate = new Date(response.contributionTime)
                var contributionmonth = contributionDate.getMonth()+1
                $("#cardDateofContribution").text(contributionDate.getDate().toString() + " " + contributionmonth.toString() + " " + contributionDate.getFullYear().toString());
                var color = document.getElementById('cardDateofContribution');
                var today = new Date();
                var strDate = 'Y-m-d'
                    .replace('Y', today.getFullYear())
                    .replace('m', today.getMonth() + 1)
                    .replace('d', today.getDate());
                console.log(strDate);
                if (strDate > response.contributionTime) {
                 color.style.color = '#FF0000';
                }
                 else {
                 color.style.color = '#000000';
                 }
                    })
                    }

        function Switch(Id) {
        $.post('@Url.Action("Switch", "Admin")', {
            Id: Id,
        }, function (response) {
                swal("",response, "success");
        })
        }
</script>