﻿@model List<User>
<div class="container">

    <h3>Список пользователей</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>АДРЕС ЭЛЕКТРОННОЙ ПОЧТЫ</th>
                <th>ИМЯ</th>
                <th>МОБИЛЬНЫЙ  ТЕЛЕФОН</th>
                <th>АКТИВНЫЙ</th>
            </tr>
        </thead>
        <tbody>
            @{ int i = 1;}

            @if (@Model.Count == 0)
            {

            }
            else
            {

                @foreach (var item in Model)
                {


                    <tr>
                        <td>@i</td>
                        <td><a asp-controller="Admin" asp-action="Detail" asp-route-id="@item.Id">@item.Email</a></td>
                        <td>@item.Name</td>
                        <td>@item.PhoneNumber</td>
                        <td>@item.Status</td>





                    </tr>

                    i++;
                }
            }
           
        </tbody>
    </table>
    <div>
        <a asp-controller="Admin" asp-action="ExcelDownload" class="text-light btn btn-success" style="text-decoration: none">Скачать Excel документ</a>
        @*<a asp-controller="Admin" asp-action="PdfDownload" class="text-light btn btn-success" style="text-decoration: none">Скачать PDF документ</a>*@
        
    </div>

</div>
