﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tennis</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/news.css" />
    <link rel="stylesheet" href="~/css/allnews.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,400;0,500;0,700;1,100;1,200&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/avatars/SponsorAvatars/logo.png" style="width:100px;height:40px" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item ml-auto">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link text-white" asp-area="" asp-controller="News" asp-action="Index">Новости</a>
                        </li>
                        <li class="nav-item ml-2">
                            <a class="nav-link text-white" asp-area="" asp-controller="Tournament" asp-action="Index">Турниры</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            if (User.IsInRole("admin"))
                            {
                        <li class="nav-item ml-2">
                            <a class="nav-link text-white" asp-area="" asp-controller="Calendar" asp-action="Index">Календарь</a>
                        </li>
                                <li class="nav-item ml-auto">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Admin" asp-action="Index">Админ-панель</a>
                                </li>
                                <li class="nav-item ml-2">
                                    <a class="nav-link text-white" asp-area="" asp-controller="Sponsor" asp-action="Index">Спонсоры</a>
                                </li>
                                <li class="nav-item ml-2">
                                    <a class="nav-link text-white" asp-area="" asp-controller="News" asp-action="Index">Добавить Новость</a>
                                </li>
                            }
                            <li class="nav-item ml-2">
                                <a class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="Rating">Рейтинг</a>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item ml-auto">
                                <a class="btn text-white" asp-controller="Users" asp-action="UserPage">Личный кабинет</a>
                            </li>
                            <li class="nav-item ml-2">
                                <form method="post" asp-controller="Account" asp-action="LogOff">
                                    <input class="btn text-white" type="submit" value="Выход" />
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item ml-auto">
                                <a class="btn text-white" asp-controller="Account" asp-action="Login">Вход</a>
                            </li>
                            <li class="nav-item ml-2">
                                <a class="btn text-white" asp-controller="Account" asp-action="Register">Регистрация</a>
                            </li>

                        }
                    </ul>
                </div>

            </div>
        </nav>
    </header>

    <div class="mb-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>



    <footer class="border-top footer text-muted mt-5">
        <div class="container">
            &copy; 2021 - Tennis - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            <a href="#"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/KIA_logo2.svg/2560px-KIA_logo2.svg.png" style="width: 25px; height: 25px" /></a>
            <a href="#"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/KIA_logo2.svg/2560px-KIA_logo2.svg.png" style="width: 25px; height: 25px" /></a>
            <a href="#"> <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/KIA_logo2.svg/2560px-KIA_logo2.svg.png" style="width: 25px; height: 25px" /></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

