﻿@model Tennis.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Изменение пароля";
}
<div class="form-row ml-5 mt-5 mr-0 pl-5">
<form asp-controller="Account" asp-action="ChangePassword">
<h5 style="margin:auto">Изменение пароля для пользователя @Model.Email</h5>
    <div asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">Новый пароль</label>
        <input type="text" asp-for="NewPassword" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-success" />
    </div>
</form>
    </div>
