@model Tennis.ViewModels.LoginViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" />
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" media="screen and (max-width: 600px)" href="~/css/login.css" />
</head>
<div class="container">
    @await Html.PartialAsync("_SelectLanguagePartial")
</div>
<div id="exampleModal" class="container">
    <div class="modal-dialog main_block">
        <div class="modal-content login_main_block border-0" style="box-shadow: 0px 0px 20px 20px #E5E5E5; font-family: Poppins">
            <div>
                <h3 class="modal-title text_type margin_left_elements1">@Localizer["Header"]</h3>
                <form class="m-auto" method="post" asp-controller="Account" asp-action="Login"
                      asp-route-returnUrl="@Model.ReturnUrl">
                    <div asp-validation-summary="ModelOnly" class="validation_text"></div>
                    <div class="email_input margin_left_elements1">
                        <label asp-for="Email">@Localizer["Email"]</label><br />
                        <input asp-for="Email" class="email_paswrd_input padding_l" />
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="password_input margin_left_elements2">
                        <label asp-for="Password">@Localizer["Password"]</label><br />
                        <input asp-for="Password" id="psw" class="email_paswrd_input" />
                        <i class="fa fa-eye-slash p-checker" aria-hidden="true"></i>
                        <span asp-validation-for="Password"></span>
                    </div>
                    <div class="margin_left_elements1">
                        <label asp-for="RememberMe" style="font-family: Poppins;">@Localizer["RememberMe"]</label>
                        <input asp-for="RememberMe" />
                    </div>
                    <div class="margin_left_elements3 login_btn_mt">
                        <input class="submit_btn" type="submit" value="@Localizer["Button"]" />
                    </div>
                    <a class="nav-link btn_login_account" style="color: #3F6A11;" asp-area="" data-toggle="modal" data-target="#myModal">@Localizer["Forget"]?</a>
                </form>
                <div class="btn_login_account ml-3">
                    <a class="btn create_account text-white" style="background-color: #232A2E" asp-controller="Account" asp-action="Register">Create Account</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <div>
                        <label for="mail">@Localizer["ModelEmail"]</label><br />
                        <input id="mail" />
                    </div>
                    <div>
                        <input type="submit" value="@Localizer["ModelButton"]" data-dismiss="modal" onclick="myFunction()" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer["ModelClose"]</button>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
        function myFunction() {
                $.post('@Url.Action("Forgot", "Account")', {
                    email: $("#mail").val(),
                }, function (response) {
                    swal(response, "", "success");
                })
        }
    $('.p-checker').on('click', () => {
        var x = document.getElementById("psw");
        if (x.type === "password") {
            x.type = "text";
            $('.p-checker').removeClass('fa-eye-slash').addClass('fa-eye');
        } else {
            x.type = "password";
            $('.p-checker').removeClass('fa-eye').addClass('fa-eye-slash');
        }
    })
</script>
