@model Tennis.ViewModels.RegisterViewModel

@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" />

</head>

<div class="container">
    <div>
        @await Html.PartialAsync("_SelectLanguagePartial")
    </div>
    <div class="progress mt-5 mb-5" style="height: 10px">
        <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" id="progress">30 %</div>
    </div>

    <h2 style="width:42%; margin:auto;padding-left:9%">@Localizer["Header"]</h2>
    <form method="post" asp-controller="Account" asp-action="Register" enctype="multipart/form-data" style="width: 30%;margin: auto;padding-left: 7%;" class="pb-3 pt-3 rounded-lg">
        <div asp-validation-summary="ModelOnly"></div>
        <div id="firstStep">
            <div>
                <label asp-for="Email">@Localizer["Email"]</label><br />
                <input asp-for="Email" class="rounded-sm" id="email" />
                <span asp-validation-for="Email"></span>
            </div>
            <div>
                <label asp-for="Password">@Localizer["Password"]</label><br />
                <input asp-for="Password" id="psw" class="rounded-sm" />
                <i class="fas fa-eye-slash p-checker"></i>
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="PasswordConfirm">@Localizer["ConfirmPassword"]</label><br />
                <input asp-for="PasswordConfirm" id="psww" class="rounded-sm" />
                <i class="fas fa-eye-slash p-checkerr"></i>
                <span asp-validation-for="PasswordConfirm"></span>
            </div>
            <input type="button" class="btn-dark pl-5 pr-3 mt-3 rounded-sm text-white nextBtn" onclick="secondForm()" value="Next                     &#x21E8" />
            <div>
                <p class="mt-3">@Localizer["SignText"]</p>
                <a class="btn bg-info pl-5 pr-5 ml-4 mt-2 rounded-sm text-white" asp-controller="Account" asp-action="Login">@Localizer["SignBtn"]</a>
            </div>
        </div>
        <div id="secondStep" style="display:none">
            <div class="form-group">
                <h6>@Localizer["Avatar"]</h6>
                <label asp-for="Avatar" class="control-label" id="photoField" for="fileInput">                     &#9974;</label>
                <input type="file" name="image" id="fileInput" hidden />
                <span asp-validation-for="Avatar" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Name">@Localizer["Name"]</label><br />
                <input asp-for="Name" class="rounded-sm" id="name" />
                <span asp-validation-for="Name"></span>
            </div>
            <div>
                <label asp-for="PhoneNumber">@Localizer["PhoneNumber"]</label><br />
                <input asp-for="PhoneNumber" class="rounded-sm" id="pNumber" />
                <span asp-validation-for="PhoneNumber"></span>
            </div>
            <div>
                <label asp-for="Country">@Localizer["Country"]</label><br />
                <input asp-for="Country" class="rounded-sm" id="country" />
                <span asp-validation-for="Country"></span>
            </div>
            <input type="button" class="btn-dark pr-3 pl-5 mt-3 rounded-sm text-white nextBtn" onclick="thirdForm()" value="Next                     &#x21E8" />
        </div>
        <div id="thirdStep" style="display:none">
            <div>
                <label asp-for="DateOfBirth">@Localizer["DateOfBirth"]</label><br />
                <input asp-for="DateOfBirth" type="date" class="rounded-sm" id="bday" />
                <span asp-validation-for="DateOfBirth"></span>
            </div>
            <span>
                @Localizer["Gender"]
            </span><br />
            @Html.DropDownListFor(m => m.Gender,
                                         new SelectList(Enum.GetValues(typeof(Tennis.ViewModels.Gender))))
            <div>
            </div>
            <span>
                @Localizer["Category"]
            </span><br />
            @Html.DropDownListFor(m => m.Category,
                                         new SelectList(Enum.GetValues(typeof(Tennis.ViewModels.CategoryPerson))))
        </div>
        <div style="display:none" id="button">
            <input type="submit" value="@Localizer["Button"]               &#x21E8  " class="btn-dark pl-2 mt-3 rounded-sm text-white nextBtn" />
        </div>
    </form>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>
    function secondForm() {
        let second = document.getElementById("secondStep");
        let first = document.getElementById("firstStep");
        let progress = document.getElementById("progress");
        let email = document.getElementById("email").value;
        let psw = document.getElementById("psw").value;
        let confirmpsw = document.getElementById("psww").value;
        if (email != "" && psw != "" && confirmpsw != "" && email.includes("@@")) {
            first.style.display = "none";
            second.style.display = "block";
            progress.style.width = "60%";
            progress.innerText = "60%";
        } else {
            swal("Oops!", "Fill the all fields", "info");
        }
    }
    function thirdForm() {
        let third = document.getElementById("thirdStep");
        let second = document.getElementById("secondStep");
        let progress = document.getElementById("progress");
        let name = document.getElementById("name").value;
        let button = document.getElementById("button");
        let pNumber = document.getElementById("pNumber").value;
        let country = document.getElementById("country").value;
        if (name != "" && pNumber != "" && country != "") {
            second.style.display = "none";
            button.style.display = "block";
            third.style.display = "block";
            progress.style.width = "100%";
            $("#bday").focus();
            progress.innerText = "100%";  
            
        } else {
            swal("Oops!", "Fill the all fields", "info");
        }
    }
    $("#bday").blur(function () {
        var birthday = document.getElementById("bday").value; 
        var regexVar = /^([0-9]{2})\/([0-9]{2})\/([0-9]{4})$/; 
        var userBirthDate = new Date(birthday.replace(regexVar, "$3-$2-$1")); 
        var todayYear = (new Date()).getFullYear(); 
        var cutOff1 = new Date(); 
        cutOff1.setFullYear(todayYear - 1); 
        var cutOff95 = new Date();
        cutOff95.setFullYear(todayYear - 95);
         if (userBirthDate > cutOff1) {
             swal("Oops","You have to be older than 1", "info");
         } else if (userBirthDate < cutOff95) {
             swal("Oops","you have to be younger than 95","info");
        } 
    })


    $('.p-checker').on('click', () => {
        var x = document.getElementById("psw");
        if (x.type === "password") {
            x.type = "text";
            $('.p-checker').removeClass('fa-eye-slash').addClass('fa-eye');
        } else {
            x.type = "password";
            $('.p-checker').removeClass('fa-eye').addClass('fa-eye-slash');
        }
    })
    $('.p-checkerr').on('click', () => {
        var x = document.getElementById("psww");
        if (x.type === "password") {
            x.type = "text";
            $('.p-checkerr').removeClass('fa-eye-slash').addClass('fa-eye');
        } else {
            x.type = "password";
            $('.p-checkerr').removeClass('fa-eye').addClass('fa-eye-slash');
        }
    })
</script>
