﻿@model Tennis.ViewModels.SponsorandSponsorsViewModel
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<style>
    td {
        padding: 15px;
    }
</style>
<div class="container">
    @if (User.IsInRole("admin"))
    {
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#newSponsor">Добавить Спонсора</button>
    }
    <h1>Спонсоры</h1>
    <table style="width: 100%;">
        @foreach (var spon in Model.Sponsors)
        {
            <tr id="line-@spon.Id">
                <td>@spon.Name</td>
                <td><img src="@spon.Avatar" style="width: 25px; height: 25px" /></td>
                <td><a href="@spon.Link" target="_blank" class="text-light btn btn-danger" style="text-decoration:none">Сайт споносора</a></td>
                <td><button type="submit" class="btn btn-danger delete" id="@spon.Id">Удалить</button></td>
                <td> <a asp-controller="Sponsor" asp-action="MainSponsor" asp-route-id="@spon.Id" class="text-light btn btn-danger" style="text-decoration: none">Подробнее</a></td>

            </tr>
        }
    </table>
</div>
<!-- Modal for New Sponsor -->
<div class="modal fade" id="newSponsor" tabindex="-1" aria-labelledby="newSponsorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newSponsorLabel">Добавление Спонсора</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Create" asp-controller="Sponsor" class="text-center" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Название Спонсора</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default"
                               asp-for="@Model.Sponsor.Name" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Описание Споснора</span>
                       <input type="text" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default"
                               asp-for="@Model.Sponsor.Description" required>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default">Ссылка на спонсора</span>
                        <input type="text" class="form-control" aria-label="Sizing example input"
                               aria-describedby="inputGroup-sizing-default"
                               asp-for="@Model.Sponsor.Link" required>
                    </div>
                    <div class="form-group">
                        <h6 asp-for="Avatar" class="control-label">Загрузите фотографию</h6>
                        <input type="file" name="image" />
                        <span asp-validation-for="@Model.Sponsor.Avatar" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4">
                        <input type="submit" value="Создать" class="btn btn-danger" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">



<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $('.delete').on('click', function () {
            let sponId = this.id;
            $.post('@Url.Action("Delete", "Sponsor")',
                {
                    sponsorId: this.id
                },
                function (response) {
                    console.log(response)
                    if (response == "Success") {
                        $(`#line-${sponId}`).remove()
                    }
                }
            )
        })
    })
    let 
</script>