﻿@model Tennis.Models.Sponsor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="table_section">

        <img src="@Model.Avatar" style="width: 300px; height: 300px">
        <h1>@Model.Name</h1>
        <p>Ссылка на сайт:@Model.Link</p>
        <p>Дата добавления:@Model.DateCreate</p>
        <p>Описание:@Model.Description</p>
        <div class="d-flex justify-content-center mt-2">
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#editsponsorModal">
                Редактировать
            </button>
        </div>
    </div>
</div>
<!-- Modal for Edit sponsor-->
<div class="modal fade" id="editsponsorModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Изменение Споносра</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" asp-action="Edit" asp-controller="Sponsor" class="text-center" enctype="multipart/form-data">
                    <input type="hidden" asp-for="@Model.Id" />
                    <div class="form-group">
                        <label asp-for="@Model.Name" class="control-label">Изменение названия</label>
                        <input asp-for="@Model.Name" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Link" class="control-label">Изменение ссылки</label>
                        <input asp-for="@Model.Link" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Description" class="control-label">Изменение описания</label>
                        <input asp-for="@Model.Description" class="form-control" required/>
                    </div>
                     <div class="form-group">
                        <h6 asp-for="Avatar" class="control-label">Сменить фотографию</h6>
                        <input type="file" name="image" />
                        <span asp-validation-for="@Model.Avatar" class="text-danger"></span>
                    </div>
                    <div class="form-group mt-4">
                        <input type="submit" value="Изменить" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">



<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>