﻿.login_main_block {
    height: 634px;
    width: 545px;
}

.login_main_block:hover {
    color: purple;
}
.email_paswrd_input {
    width: 380px;
    height: 50px;
    border-radius: 6px;
    border-color: #E5E5E5;
}
.email_paswrd_input:focus {
        box-shadow: 1px 1px 2px 0 green;
    }
.email_input {
    margin-top: 85px;
}
.password_input {
    margin-top: 45px;
}

.margin_left_elements1 {
    margin-left: 83px;
}

.margin_left_elements2 {
    margin-left: 83px;
}

.margin_left_elements3 {
    margin-left: 83px;
}
.submit_btn {
    width: 380px;
    height: 55px;
    border-radius: 6px;
    border-color: #E5E5E5;
}
.btn_login_account {
    text-align: center;
    border-radius: 68px;
}
.login_btn_mt{
    margin-top:31px;
}
.validation_text {
    color: red;
}
.create_account {
    width: 319px;
    height: 50px;
    border-radius: 68px;
}
.text_type {
    padding-top:48px;
}
.padding_l {
    padding-left: 0px;
}

@media screen and (max-width: 600px) {
    .main_block{
        text-align:center;
    }

    .main_block {
        margin-left: 10%;
    }

    .padding_l{
        padding-left:60px;
    }

    .login_main_block {
        height: 400px;
        width: 312px;
    }

    .login_main_block:hover {
        color: purple;
    }

    .email_paswrd_input {
        width: 200px;
        height: 30px;
        border-radius: 6px;
        border-color: #E5E5E5;
    }

        .email_paswrd_input:focus {
            box-shadow: 1px 1px 2px 0 green;
        }

    .email_input {
        margin-top: 56px;
    }

    .password_input {
        margin-top: 20px;
    }

    .margin_left_elements1 {
        margin-left: 9px;
    }
    .margin_left_elements2 {
        margin-left: 30px;
    }
    .margin_left_elements3 {
        margin-left: 9px;
    }

    .submit_btn {
        width: 200px;
        height: 30px;
        border-radius: 6px;
        border-color: #E5E5E5;
    }

    .btn_login_account {
        text-align: center;
        border-radius: 68px;
    }

    .login_btn_mt {
        margin-top: 18px;
    }

    .validation_text {
        color: red;
    }

    .create_account {
        width: 180px;
        height: 30px;
        border-radius: 68px;
    }

    .text_type {
        padding-top: 20px;
    }
}
