﻿@model User

<div class="modal fade" id="editUser">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>

            <div class="modal-body">
                <form action="Edit">
                    <div class="form-group">
                        <input type="hidden" asp-for="@Model.Id" />
                        <label for="">
                            Логин
                            <input asp-for="UserName" type="text" value="@Model.UserName">
                            <span asp-validation-for="UserName" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="">
                            Email
                            <input asp-for="Email" type="text" value="@Model.Email">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="">
                            Номер телефона
                            <input asp-for="PhoneNumber" type="tel" value="@Model.PhoneNumber">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="">
                            Страна
                            <input asp-for="Country" type="text" value="@Model.Country">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="">
                            Дата рождения
                            <input asp-for="DateOfBirth" type="datetime" value="@Model.DateOfBirth">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="">
                            Пол
                            <input asp-for="Gender" type="text" value="@Model.Gender">
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="">
                            Категория
                            <input asp-for="Category" type="text" value="@Model.Category">
                        </label>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-save="modal">Редактировать</button>
            </div>

        </div>
    </div>

</div>