@model List<User>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>
    </title>
</head>
<div class="container">
    <h2>Рейтинг</h2>
    @if (@Model.Count == 0)
    {
        <p>Не было проведенных турниров</p>
    }
    else
    {
        <table style="width: 100%;">
            <tr>
                <th>Номер</th>
                <th>
                    Имя
                </th>
                <th>
                    Очки
                </th>
                <th>
                    Статус
                </th>
            </tr>
            @for (int i = 0; i < @Model.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td>@Model[i].Name</td>
                    <td>@Model[i].Points</td>
                    <td>@Model[i].Status</td>
                </tr>
            }
        </table>
    }
</div>