﻿@model Tennis.ViewModels.UserPageViewModel

<link rel="stylesheet" href="style.css">
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
<script src="https://kit.fontawesome.com/8d49b22949.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous">
</script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<header>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <div class="container mb-5">
        <div class="card">
            <div class="card-body">
                <img src="@Model.User.Avatar"
                     class="round mh-100"
                     style="width: 200px; height: 200px; border-radius: 50%; border: 3px solid black;"
                     alt="..."><br />
            </div>
            <div class="card-body" style="width: max-content;">
                <div class="card-body">

                    <h5 class="card-title">@Model.User.UserName</h5>
                    <p class="card-text">Электронная почта:  @Model.User.Email</p>
                    <p class="card-text">Номер мобильного телефона:  @Model.User.PhoneNumber</p>
                    <p class="card-text">Категория пользователя:  @Model.User.Category</p>
                    <p class="card-text">
                        Дата рождения: @Model.User.DateOfBirth.ToString("dd MMM yyyy")
                        (@{int Age = DateTime.Now.Year - @Model.User.DateOfBirth.Year;}@Age лет)
                    </p>
                    <p class="card-text">Страна:  @Model.User.Country</p>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editUserModal">Редактировать</button>
        <a class="btn btn-primary" asp-controller="Account" asp-action="ChangePassword" asp-route-id="@Model.User.Id">Сменить пароль</a>
    </div>
    <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="Edit">
                        <div class="form-group">
                            <input type="hidden" asp-for="@Model.User.Id" id="userId" />
                            <label for="">
                                Email
                                <input asp-for="@Model.User.UserName" type="text" value="@Model.User.UserName" id="email">
                                <span asp-validation-for="@Model.User.UserName" />
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="" class="mr-5">
                                Номер телефона
                                <input asp-for="@Model.User.PhoneNumber" type="tel" value="@Model.User.PhoneNumber" id="phoneNumber">
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="">
                                Страна
                                <input asp-for="@Model.User.Country" type="text" value="@Model.User.Country" id="country">
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="">
                                Дата рождения
                                <input asp-for="@Model.User.DateOfBirth" type="date" value="@Model.User.DateOfBirth.ToString("dd MM yyyy")" id="dateOfBirth">
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="">
                                Пол
                                @Html.DropDownListFor(m => m.User.Gender,
                                                                       new SelectList(Enum.GetValues(typeof(Tennis.ViewModels.Gender))))
                            </label>
                        </div>
                        <div class="form-group">
                            <label for="">
                                Категория
                                @Html.DropDownListFor(m => m.User.Category,
                                                                       new SelectList(Enum.GetValues(typeof(Tennis.ViewModels.CategoryPerson))))
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn btn-primary" onclick="EditUser()">Сохранить изменения</button>
                </div>
            </div>
        </div>
    </div>
    <div id="PlaceHolderHere"></div>

    <hr />

    <div class="container">
        <div class="table_section">
            <table class="table" style="width:100%">
                <tr>
                    <th>
                        Разряд
                    </th>
                    <th>
                        Очки
                    </th>
                    <th>
                        Турниры
                    </th>
                    <th>
                        Среднее
                    </th>
                    <th>
                        Победы
                    </th>
                    <th>
                        Место
                    </th>
                </tr>
                @foreach (var item in @Model.AllTournaments)
                {
    <tr>
        <td>
            @item.Category @item.Type
        </td>
        <td>
            0
        </td>
        <td>
            0
        </td>
        <td>
            0
        </td>
        <td>
            0
        </td>
        <td>
            356
        </td>
    </tr>}

            </table>
        </div>
    </div>

</header>

<main>
    <div class="container mb-5">
        <h6>Достижения</h6>
        @foreach (var item in Model.WinnerTournaments)
        {
<div>
    <p>@item.Name | @item.Category | @item.Type</p><br />
</div>}
    </div>
    <div class="container mb-5 pb-5">
        <h6>Турниры, в которых принимал участие</h6>
        @foreach (var item in Model.Scores)
        {
<div>
    <p>@item.Tournament.Name | @item.Tournament.Category | @item.Tournament.Type | @item.Place место</p><br />
</div>}
    </div>



</main>


    <script src="jquery-3.5.1.min.js"></script>
<script>

    function EditUser() {
        let user = {
            'Id': document.getElementById("userId").value,
            'Email': document.getElementById("email").value,
            'PhoneNumber': document.getElementById("phoneNumber").value,
            'Country': document.getElementById("country").value,
            'DateOfBirth' : document.getElementById("dateOfBirth").value,
            'Gender': document.getElementById("User_Gender").value,
            'Category': document.getElementById("User_Category").value
        }
        $.ajax({
             url: '@Url.Action("Edit", "Users")',
            type: "POST",
            async: false,
            cache: false,
            data: user,
            success: function (response) {
            location.reload();
            }
            });
            }
</script>