﻿@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@model Tournament
<div class="container">

<h2>Закрытие турнира без проставления мест</h2>
<dl>
    <dt>Название</dt>
    <dd>
        @Html.DisplayFor(model => model.Name)
    </dd>
</dl>

@using (Html.BeginForm())
{
    <input type="submit" value="Подтвердить удаление" />
}
</div>