﻿@model Tennis.ViewModels.TournamentScoreViewModel


<div class="container">
    <div>


        @if (Model.tournamentScores != null)
        {
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Имя</th>
                        <th scope="col">Место</th>
                    </tr>
                </thead>
                <tbody id="users">
                    @foreach (var item in @Model.tournamentScores)
                    {
                        <tr>
                            @if (@item.User == null)
                            {

                                <td><input type="hidden" value="@item.GuestId" class="players_id" /></td>
                                <td class="mr-5" id="player_id">@item.Guest.Name</td>
                            }
                            else
                            {

                                <td><input type="hidden" value="@item.UserId" class="players_id" /></td>
                                <td class="mr-5" id="player_id">@item.User.Name</td>
                            }

                            <td class="mr-5">
                                <input id="userPosition" type="number" value="0" class="inputs" min="1" max="@item.Tournament.UserCount" />
                            </td>


                        </tr>
                    }
                </tbody>
            </table>
            @if (User.IsInRole("admin"))
            {
                @if (Model.tournament.Status == Tennis.Models.StatusTournament.Will)
                {
                    <div class="mt-3">
                        <button class="btn btn-primary" value="Закрыть" onclick="SaveData('@Model.tournament.Id')">Закрыть</button>
                    </div>
                    <p id="positionCheck"></p>
                }
            }
        }
        else
        {
            <p>Нет данных</p>
        }
    </div>
</div>
@section Scripts
    {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>

        function SaveData(Id) {
            const tableBody = document.getElementById('users');
            const bodyTrs = tableBody.getElementsByTagName('tr');
            console.log(bodyTrs);
            var nums = [];
            var Ids = [];
            var playersId = document.getElementsByClassName('players_id');
            var inputs = document.getElementsByClassName('inputs');
            var positions = [];
            for (let i = 0; i < bodyTrs.length; i++) {
                nums[i] = bodyTrs[i].getElementsByTagName('td');
                Ids[i] = playersId[i].value
                positions[i] = inputs[i].value;
            }
            var txt = "";
            if (document.getElementById("userPosition").validity.rangeUnderflow) {
                txt = "Значения не могут быть меньше 1 или больше количества участников";
            } else if (document.getElementById("userPosition").validity.rangeOverflow) {
                txt = "Значения не могут быть меньше 1 или больше количества участников";
            } else {
                $.post('@Url.Action("ConfirmationOfClosing", "Tournament")',
            {
                playersId: Ids,
                postitions: positions,
            Id: Id,
        },
        function (response) {
        console.log(response)
            if (response === "ОК") {
                swal("Урааа!", "Вы успешно закрыли турнир и проставили места.", "success");
                setTimeout(function () {
                    window.location.href = 'https://localhost:44349/Tournament';
                }, 3000);
            } else {
                swal("Ой!", response, "info");
            }
            });
            }
            document.getElementById("positionCheck").innerHTML = txt;
        };

    </script>
}

