﻿@model List<Tournament>
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="container">
    <div class="mb-5">

        @if (User.IsInRole("admin"))
        {
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#newTournament">Создать Турнир</button>
            </div>
        }
        <h1 class="text-center">Расписание турниров</h1>
        @foreach (var tur in Model)
        {
            <div class="card border-dark text-center mb-5">
                <div class="card-header">
                    @if (tur.Status == StatusTournament.Was)
                    {
                        <h4 class="text-muted">Название турнира: @tur.Name</h4>
                    }
                    else
                    {
                        <h4>Название турнира: @tur.Name</h4>
                    }

                    @{
                        string id_main_block = "main_" + tur.Id;
                        string id_button = "button_" + tur.Id;
                        string check_msg = "check_msg_" + tur.Id;
                    }
                </div>
                <div class="card-body">
                    <h5 class="card-title">Категория: @tur.Category</h5>
                    <h5 class="card-title">Тип: @tur.Type</h5>
                    <h5 class="card-title">Лига: @tur.CategoryLeagueTournament</h5>
                    <h5 class="card-title">Кол-во участников: @tur.UserCount</h5>
                    @if (tur.Status != StatusTournament.Was)
                    {
                        if (User.IsInRole("user"))
                        {
                            if (tur.Type == Tennis.Models.Type.ManOne || tur.Type == Tennis.Models.Type.WomenOne)
                            {
                                <div id="@check_msg"></div>
                                <div id="@id_main_block">
                                    <button class="btn btn-success mb-1" id="@id_button" onclick="applyfunction('@tur.Id')">
                                        Участвовать
                                    </button>
                                </div>
                            }
                            else
                            {
                                <div id="@check_msg"></div>
                                <div id="@id_main_block">
                                    <button type="button" onclick="openbuttons('@tur.Id')" class="btn btn-success mb-1" data-toggle="modal" data-target="#apllyGuest">
                                        Участвовать
                                    </button>
                                </div>
                            }
                        }
                        else if (!User.IsInRole("user") && !User.IsInRole("admin"))
                        {
                            <div id="@check_msg"></div>
                            <div id="@id_button">
                                <button type="button" onclick="openbuttons('@tur.Id')" class="btn btn-success mb-1" data-toggle="modal" data-target="#apllyGuest">
                                    Участвовать
                                </button>
                            </div>
                        }
                    }
                    <a asp-controller="Tournament" asp-action="DetailsTournament" asp-route-id="@tur.Id" class="text-light btn btn-primary">Подробнее</a>
                    @if (User.IsInRole("admin"))
                    {
                        @if (tur.Status == StatusTournament.Will)
                        {
                            <a class="btn btn-danger" asp-action="CloseTournament" asp-controller="Tournament" asp-route-Id="@tur.Id">Закрыть турнир без проставления мест</a>
                            <a class="btn btn-danger" asp-action="Close" asp-controller="Tournament" asp-route-Id="@tur.Id">Закрыть турнир</a>
                            <a asp-controller="TournamentPlayer" asp-action="Application" asp-route-id="@tur.Id" class="text-light btn btn-danger" style="text-decoration: none">Заявки</a>
                            <a asp-controller="TournamentPlayer" asp-action="ApproveApplication" asp-route-id="@tur.Id" class="text-light btn btn-danger" style="text-decoration: none">Одобренные Заявки</a>
                            <a asp-controller="TournamentPlayer" asp-action="DeclinedApplication" asp-route-id="@tur.Id" class="text-light btn btn-danger" style="text-decoration: none">Отклонённые Заявки</a>
                        }
                    }
                </div>
                <div class="card-footer text-muted">
                    @tur.Date.ToShortDateString()
                </div>
            </div>
        }
        <!-- Modal for New Tournament -->
        <div class="modal fade" id="newTournament" tabindex="-1" aria-labelledby="newTournamentLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="newTournamentLabel">Создание Турнира</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly"></div>
                            <div>
                                <label for="Name">Название турнира</label><br />
                                <input id="Name" />
                            </div>
                            <div>
                                <label for="DateOfTournament"> Дата проведения</label><br />
                                <input type="date" id="DateOfTournament">
                            </div>
                            <div>
                                <label for="UserCount">Количество участников</label><br />
                                <input id="UserCount" />
                            </div>
                            <div>
                                <label for="Category">Категория</label><br />
                                <select asp-items="Html.GetEnumSelectList<Tennis.Models.CategoryTournament>()" id="Category">
                                    <option>Выберите категорию</option>
                                </select>
                            </div>
                            <div>
                                <label for="Type">Тип турнира</label><br />
                                <select asp-items="Html.GetEnumSelectList<Tennis.Models.Type>()" id="Type">
                                    <option>Выберите тип</option>
                                </select>
                            </div>
                            <div>
                                <label for="Type">Лига турнира</label><br />
                                <select asp-items="Html.GetEnumSelectList<Tennis.Models.CategoryLeagueTournament>()" id="League">
                                    <option>Выберите лигу</option>
                                </select>
                            </div>
                            <div>
                                <input type="submit" value="Сохранить" data-dismiss="modal" onclick="AddTournament()" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(function() { update() });
        function applyfunction(id_t) {
            $.post('@Url.Action("Apply", "TournumentScore")', {
                tournament_Id: id_t,
            }, function (response) {
                update();
                console.log(response);
                if (response === "ОК") {
                    swal("Урааа!", "Ваша заявка принята. Ожидайте пока организатор одобрит", "success");
                } else {
                    swal("Ой!", response, "info");
                }
            })
        }

        let update = function () {
            $.get('@Url.Action("GetTournamentUsers", "TournumentScore")',
                function (response) {
                    if (response != null) {
                        for (let i = 0; i < response.length; i++) {
                            if (response[i].status === 0) {
                                $('#check_msg_' + response[i].tournamentId).empty();
                                $('#main_' + response[i].tournamentId).empty();
                                $('#main_' + response[i].tournamentId).append('<p class="text-success">Ваша заявка одобрено. Теперь вы участник этого турнира</p>');
                            } else if (response[i].status === 1) {
                                $('#check_msg_' + response[i].tournamentId).empty();
                                $('#check_msg_' + response[i].tournamentId).append('<br/><p class="text-danger">Ваша заявка отклонена. </p>');
                            } else if (response[i].status === 2 || response[i].status === 3) {
                                $('#check_msg_' + response[i].tournamentId).empty();
                                $('#main_' + response[i].tournamentId).empty();
                                $('#main_' + response[i].tournamentId).append('<p class="text-secondary">Заявка на участие в турнире находится в обработке</p>');
                            }
                        }
                    }
                })
        }

        function submitPair() {
            let getId = $('#pairSub').attr('name');
            $.post('@Url.Action("Apply", "TournumentScore")', {
                tournament_Id: getId,
                pref: $('#pairPref_' + getId).val()
            }, function (response) {
                update();
                console.log(response);
                $('#closeButton').click();
                if (response === "ОК") {
                    swal("", "Ваша заявка принята. Ожидайте пока организатор одобрит", "success");
                } else {
                    swal("Oops!", response, "info");
                }
            })
        }

        function AddTournament() {
        let tour = {
            'Name': $("#Name").val(),
            'UserCount': $("#UserCount").val(),
            'Date': $("#DateOfTournament").val(),
            'Category': $("#Category").val(),
            'Type': $("#Type").val(),
            'CategoryLeagueTournament': $("#League").val(),
            }
            $.ajax({
             url: '@Url.Action("Create","Tournament")',
             type: "POST",
             async: false,
             cache: false,
             data: tour,
                success: function (response) {
                    location.reload();
             }
            });
        }

        //Заявка гостей

        var userAuthorized = @User.Identity.IsAuthenticated.ToString().ToLower();

        if (userAuthorized == true) {
            function openbuttons(id) {
                Swal.fire({
                    title: 'Здесь вы можете указать напарника для участия',
                    html: '<input type="text" id="pairPref_' + id + '"/><br/>' +
                        '<a class="btn btn-primary mb-1 mt-2 text-white" id="pairSub" type="submit" name="' + id + '" onclick="submitPair()">Подтвердить<a/>',
                    showCancelButton: true,
                    showConfirmButton: false
                })
            };
        }
        else {
            function openbuttons(id) {
                Swal.fire({
                    title: 'Выберите как участвовать',
                    html:
                        '<a class="btn btn-primary mb-1" href="/Account/Login">Принять участие как член КСЛТ</a><br/><a class="btn btn-primary mb-1" href="/Account/Register">' +
                        'Стать членом КСЛТ и принять участие</a><br/><a class="btn btn-primary" onclick="modalFormAplly()">Принять участие как гость</a><p id="getId" name="' + id + '"></p>',
                    showCancelButton: true,
                    showConfirmButton: false
                })
            };
        }

        function modalFormAplly() {
            let getId = $('#getId').attr('name');
            Swal.fire({
                title: 'Заполните поля',
                html:
                    '<form><div class="form-group">'
                + '<label for="name">Имя</label><br />'
                + '<p id="nameCheck" class="text-danger"></p>'
                + '<input class="form-control" id="name" placeholder="Имя" required />'
                + '</div>'
                + '<div class="form-group">'
                + '<label for="tel">Номер телефона</label><br />'
                + '<p id="telCheck" class="text-danger"></p>'
                + '<input class="form-control" type="number" id="tel" placeholder="Номер телефона" required>'
                + '</div>'
                + '<a class="btn btn-primary" onclick="functionPostData()">Отправить</a>'
                    + '<p id="postTournamentId" name="' + getId + '"></p></form>',
                showCancelButton: true,
                showConfirmButton: false
            })
        };

        function functionPostData() {
            if ($('#name').val().length != 0) {
                $('#nameCheck').empty();
                if ($('#tel').val().length == 12 || $('#tel').val().length == 10) {
                    $('#telCheck').empty();
                    var guest = {
                        'PhoneNumber': $('#tel').val(),
                        'Name': $('#name').val(),
                    };
                    let id = $('#postTournamentId').attr('name');
                    $.post('@Url.Action("ApplyGuest", "TournumentScore")', {
                        guest,id
                        },
                        function (response) {
                            $('#closeButton').click();
                            if (response === "ОК") {
                                swal("Урааа!", "Ваша заявка принята. Ожидайте пока организатор одобрит", "success");
                            } else {
                                swal("Ой!",response , "info");
                            }
                        })
                } else {
                    $('#telCheck').empty();
                    $('#telCheck').append('Длина номера должна быть 10 или 12 символов');
                }
            } else {
                $('#nameCheck').empty();
                $('#nameCheck').append('Укажите пожалуйста имя');
            }
        };
    </script>
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">



