﻿@model Tennis.Models.News
@{
    ViewBag.Title = "Редактирование новости.";
}
<div class="container">
    <div class="form-group">
        <form asp-action="Edit" asp-controller="News" asp-route-id="@Model.Id" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="Topic" class="control-label">Тема</label>
                <input type="text" asp-for="Topic" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label">Содержание</label>
                <input type="text" asp-for="Content" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input type="file" name="image" />
                <span asp-validation-for="@Model.Photo" class="text-danger"></span>
            </div>
            <div>
                <input type="submit"  value="Сохранить" class="btn btn-danger" />
            </div>
        </form>
    </div>
   

</div>
