﻿@model Tennis.ViewModels.NewsAndListOfNewsViewModel
@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <title>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>

    <div class="container">
        <div class="container">
            <div class="theme-title-one text-center pb-80">
                <h2 class="main-title underline"><span>Новости</span></h2>
            </div>
        </div>
        @if (User.IsInRole("admin"))
        {
            <div class="d-flex justify-content-center">
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#addNews">Добавить новость</button>
            </div>
        }
        @if (Model.ListOfNews.Count == 0)
        {
            <p>Новости еще не добавлены.</p>
        }
        else
        {
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
                    @foreach (var item in Model.ListOfNews)
                    {
                        <div class="col mb-4">
                            <figure class="snip1208 border border-dark" id="line-@item.Id">
                                <img src="@item.Photo" alt="sample66" />
                                <div class="date"><span class="day">@item.DateOfPublication.ToString("dd,MMMM, yyyy")</span></div><i class="ion-checkmark"></i>
                                <figcaption>
                                    <h3>@item.Topic</h3>
                                    <p>
                                        @item.Content
                                    </p>
                                    @if (User.IsInRole("admin"))
                                    {

                                        <button type="submit" class="btn btn-sm delete" id="@item.Id">Удалить</button>
                                        <p><a asp-controller="News" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Редактировать</a></p>

                                    }

                                </figcaption>
                            </figure>
                        </div>

                    }
                </div>
            </div>

        }
    </div>


    <div class="modal fade" id="addNews" tabindex="-1" aria-labelledby="newNewsLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newTournamentLabel">Добавление новости</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" asp-action="Add" asp-controller="News" class="text-center" enctype="multipart/form-data">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Тема новости</span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                   aria-describedby="inputGroup-sizing-default"
                                   asp-for="@Model.News.Topic" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-default">Содержание</span>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" asp-for="@Model.News.Content" required></textarea>
                        </div>

                        <div class="form-group">
                            <h6 asp-for="Avatar" class="control-label"></h6>
                            <input type="file" name="image" />
                            <span asp-validation-for="@Model.News.Photo" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-4">
                            <input type="submit" value="Добавить" class="btn btn-danger" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

<script>
    $(document).ready(function () {
        $('.delete').on('click', function () {
            let newsId = this.id;
            $.post('@Url.Action("Delete", "News")',
                {
                    idNews: this.id
                },
                function (response) {
                    console.log(response)
                    if (response == "Success") {
                        $(`#line-${newsId}`).remove()
                    }
                }
            )
        })
    })

    
</script>