@model List<TournamentPlayers>
@{ ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container">

    <h3>Список пользователей</h3>
    <a asp-controller="TournamentPlayer" asp-action="ApproveApplication" asp-route-id="@ViewBag.IdTournament" class="text-light btn btn-danger" style="text-decoration: none">Одобренные Заявки</a>
    <a asp-controller="TournamentPlayer" asp-action="DeclinedApplication" asp-route-id="@ViewBag.IdTournament" class="text-light btn btn-danger" style="text-decoration: none">Отклонённые Заявки</a>
    <table class="table table-hover">
        <thead>
            @if (Model.Count != 0 && Model != null)
            {
                if (Model[0].Tournament.Type != Tennis.Models.Type.ManTwo && Model[0].Tournament.Type != Tennis.Models.Type.WomenTwo && Model[0].Tournament.Type != Tennis.Models.Type.Mixed)
                {
                    <tr>
                        <th>Имя</th>
                        <th>Турнир</th>
                        <th>Номер телефона</th>
                    </tr>
                }
                else
                {
                    <tr>
                        <th>Имя</th>
                        <th>Желаемый напарник</th>
                        <th>Выберите напарника</th>
                        <th>Турнир</th>
                        <th>Номер телефона</th>
                    </tr>
                }

            }
        </thead>
        <tbody id="tableBody">
            @foreach (var item in Model)
            {
                @if (item.Status == StatusPlayers.Wait || item.Status == StatusPlayers.Wait_In_Spare)
                {
            <tr>
                @if (item.GuestId != null)
                {
                    <td class="bg-warning">Гость<br />@item.Guest.Name</td>
                    @if (item.Tournament.Type != Tennis.Models.Type.ManOne
                  || item.Tournament.Type != Tennis.Models.Type.WomenOne
                  && item.Preferences != null)
                    {
                        <td>
                            Желаемый напарник: <p>@item.Preferences</p>
                        </td>
                    }
                }
                @if (item.UserId != null)
                {
                    <td class="bg-info">@item.User.Name</td>
                    @if (item.Tournament.Type != Tennis.Models.Type.ManOne
                  || item.Tournament.Type != Tennis.Models.Type.WomenOne
                  && item.Preferences != null)
                    {
                        <td>
                            Желаемый напарник: <p>@item.Preferences</p>
                        </td>
                    }
                }

                @if (item.Tournament.Type == Tennis.Models.Type.Mixed
|| item.Tournament.Type == Tennis.Models.Type.ManTwo
|| item.Tournament.Type == Tennis.Models.Type.WomenTwo)
                {
                    <td>
                        @{string dropId = "drop_list_" + @item.Id;}
                        <select name="users" id="@dropId">
                        </select>
                    </td>
                }
                <td>@item.Tournament.Name</td>
                @if (item.GuestId != null)
                {
                    <td>@item.Guest.PhoneNumber</td>
                }
                @if (item.UserId != null)
                {
                    <td>@item.User.PhoneNumber</td>
                }

                @if (item.Tournament.Type == Tennis.Models.Type.ManOne
                    || item.Tournament.Type == Tennis.Models.Type.WomenOne)
                {
                    <td>
                        @using (Html.BeginForm("ApproveSingle", "TournamentPlayer", new { id = item.Id }))
                        {
                            <button class="btn btn-success" type="submit">Принять</button>
                        }
                    </td>
                }
                else
                {
                    <td>
                        <button class="btn btn-success" type="submit" onclick="approve('@item.Id')">Принять</button>
                    </td>
                }
                <td>
                    @using (Html.BeginForm("NotApprove", "TournamentPlayer", new { id = item.Id }))
                    {
                        <button class="btn btn-danger" type="submit">Отказать</button>
                    }
                </td>
            </tr>
                }

            }

        </tbody>
    </table>
</div>


@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(function () { createDropdown('@ViewBag.IdTournament') });

        function approve(id) {
            var player = $("#drop_list_" + id).val();
            console.log(player);
            if (player == null) {
                swal("Ой!", "Для того чтобы принять заявку этого игрока, нужно найти ему пару, так как это парный турнир!", "info");
                return;
            }
            $.post('@Url.Action("ApprovePair", "TournamentPlayer")', {
                Id: id,
                playerTwo: player
            }, function (response) {
                if (response == 'OK') {
                    swal("Ой!", "Необходимое количество игроков уже набралось!", "info");
                }
                window.location.reload();
            })
        }

        function createDropdown(id) {
                $.get('@Url.Action("CreateDropDown", "TournamentPlayer")', {
                    id,
                }, function (response) {
                    for (let i = 0; i < response.length; i++) {
                        for (let j = 0; j < response.length; j++) {
                            if (response[i].id != response[j].id) {
                                if (response[j].user == null) {
                                    $('#drop_list_' + response[i].id).append('<option value="' + response[j].guest.id + '">' + response[j].guest.name + '</option>');
                                } else if (response[j].guest == null) {
                                    $('#drop_list_' + response[i].id).append('<option value="' + response[j].user.id + '">' + response[j].user.name + '</option>');
                                }
                            }
                        }
                    }
                })
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
