﻿@model List<TournamentPlayers>
@{ ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container">
    <button type="button" onclick="openbuttons('@ViewBag.IdTournament')" class="btn btn-success" data-toggle="modal" data-target="#apllyGuest">
        Добавить участника
    </button>
    <h3>Список пользователей</h3>
        <table class="table table-hover">
            <thead>
                @if (Model.Count != 0)
                {
                    @if (Model[0].Tournament.Type == Tennis.Models.Type.Mixed
                                    || Model[0].Tournament.Type == Tennis.Models.Type.ManTwo
                                    || Model[0].Tournament.Type == Tennis.Models.Type.WomenTwo)
                    {
                        <h4 class="text-danger" style="text-align: center">Парные заявки</h4>
                        <tr>
                            <th>
                                Участник №1
                            </th>
                            <th>
                                Номер телефона участника №1
                            </th>
                            <th>
                                Участник №2
                            </th>
                            <th>
                                Номер телефона участника №2
                            </th>
                            <th>
                                Турнир
                            </th>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th>ИМЯ</th>
                            <th>ТУРНИР</th>
                            <th>НОМЕР</th>
                        </tr>
                    }
                }
            else
            {
                <h1 class="bg-danger" style="text-align:center">Тут пока пусто!</h1>
            }


            </thead>
            <tbody id="users_block">
                @foreach (var item in Model)
                {
                  @if (item.Tournament.Type != Tennis.Models.Type.Mixed
                  && item.Tournament.Type != Tennis.Models.Type.ManTwo
                  && item.Tournament.Type != Tennis.Models.Type.WomenTwo)
                    {
                        string idTurPlay = "turplay_" + item.Id;
                        <tr id="@idTurPlay">
                            @if (item.GuestId != null)
                            {
                                <td class="bg-warning">Гость<br />@item.Guest.Name</td>
                            }
                            @if (item.UserId != null)
                            {
                                <td class="bg-info">@item.User.Name</td>
                            }
                            <td>@item.Tournament.Name</td>
                            @if (item.GuestId != null)
                            {
                                <td>@item.Guest.PhoneNumber</td>
                            }
                            @if (item.UserId != null)
                            {
                                <td>@item.User.PhoneNumber</td>
                            }
                            <td>
                                <button class="btn btn-danger" onclick="notapprove('@item.Id')">Отказать</button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
</div>
<div class="modal fade" id="apllyGuest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header justify-content-center align-content-center" id="headerModalApplyguest">

            </div>
            <div class="modal-body modal-button row d-flex justify-content-center align-content-center" id="applyModalForm">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closeButton" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script src="jquery-3.5.1.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    $(function () { check('@ViewBag.IdTournament') });

    function check(id) {
        if (id != null) {
            pairTournament(id);
        }
    }
    function pairTournament (id) {
        $.get('@Url.Action("GetPairPlayers", "TournamentPlayer")', {
                    id,
                }, function (response) {
            if (response != null) {
                for (let i = 0; i < response.length; i++) {
                    console.log(response[i]);
                    console.log('1');
                    $('#users_block').append('<tr id="' + response[i].id + '" class="bg-info">' + '</tr>');
                    if (response[i].tournamentPlayersFirst.userId != null) {
                        $('#' + response[i].id).append('<td class= "bg-info">' + response[i].tournamentPlayersFirst.user.name + '</td >' + '<td class= "bg-info">' + response[i].tournamentPlayersFirst.user.phoneNumber + '</td >')
                    } else {
                        $('#' + response[i].id).append('<td>' + response[i].tournamentPlayersFirst.guest.name + '</td >' + '<td>' + response[i].tournamentPlayersFirst.guest.phoneNumber + '</td >');
                    }
                    if (response[i].tournamentPlayersSecond.userId != null) {
                        $('#' + response[i].id).append('<td>' + response[i].tournamentPlayersSecond.user.name + '</td >' + '<td>' + response[i].tournamentPlayersSecond.user.phoneNumber + '</td >');
                    } else {
                        $('#' + response[i].id).append('<td>' + response[i].tournamentPlayersSecond.guest.name + '</td >' + '<td>' + response[i].tournamentPlayersSecond.guest.phoneNumber + '</td >');
                    }
                    $('#' + response[i].id).append('<td>' + response[i].tournament.name + '</td>' +
                        '<td>' +
                            '<button class="btn btn-danger" onclick="notapprovePairTournamentPlayer( ' + "'" + response[i].id + "'" + ' )">Отказать</button>' +
                        '</td>')
                }
            }
        })
    }

    function openbuttons(id) {
        $('#headerModalApplyguest').empty();
        $('#headerModalApplyguest').append('<h5 class="modal-title">Заполните поля</h5>');
        $('#applyModalForm').empty();
        $('#applyModalForm').append('<form><div class="form-group">'
            + '<label for="name">Имя</label><br/>'
            + '<p id="nameCheck" class="text-danger"></p>'
            + '<input class="form-control" id="name" placeholder="Имя" required/>'
            + '</div>'
            + '<div class="form-group">'
            + '<label for="tel">Номер телефона</label><br />'
            + '<p id="telCheck" class="text-danger"></p>'
            + '<input class="form-control" type="number" id="tel" placeholder="Номер телефона" required>'
            + '</div>'
            + '<a class="btn btn-primary" onclick="functionPostData('+"'"+id+"'"+')">Отправить</a>');
    };
    function functionPostData(id) {
        console.log(id);
            if ($('#name').val().length != 0) {
                $('#nameCheck').empty();
                if ($('#tel').val().length == 12 || $('#tel').val().length == 10) {
                    $('#telCheck').empty();
                    var guest = {
                        'PhoneNumber': $('#tel').val(),
                        'Name': $('#name').val(),
                    };
                    $.post('@Url.Action("AddingGuestByAdmin", "TournumentScore")', {
                        guest,id
                        },
                        function (response) {
                            $('#closeButton').click();
                            if (response.id === id) {
                                update(guest, response);
                                swal("Урааа!", "Игрок успешно добавлен!", "success");
                            } else {
                                swal("Ой!",response , "info");
                            }
                        })
                } else {
                    $('#telCheck').empty();
                    $('#telCheck').append('Длина номера должна быть 10 или 12 символов');
                }
            } else {
                $('#nameCheck').empty();
                $('#nameCheck').append('Укажите пожалуйста имя');
            }
    };

    function update(guest, response) {
        $('#users_block').append(' <tr><td class="bg-warning">Гость<br/>' + guest.Name + '</td><td><br/>' + response.name + '</td><td><br/>' + guest.PhoneNumber +'</td></th>');
    }

    function notapprove(id) {
        $.post('@Url.Action("NotApprove", "TournamentPlayer")', {
            id
        }, function (response) {
            $('#turplay_' + id).remove();
            swal("Урааа!", "Отклонение заявки прошла успешно", "success");
        })
    }

    function notapprovePairTournamentPlayer(id) {
        $.post('@Url.Action("NotApprovePairPlay", "TournamentPlayer")', {
            id
        }, function (response) {
            $('#' + id).remove();
            swal("Урааа!", "Отклонение заявки прошла успешно", "success");
        })
    }
</script>
    }
   