﻿@model List<TournamentPlayers>
@{ ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container">

    <h3>Список отклонённых пользователей</h3>
    <table id="mainTable" class="table table-hover">
        <thead>
            <tr>
                <th>ИМЯ</th>
                <th>ТУРНИР</th>
                <th>НОМЕР</th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @foreach (var item in Model)
            {
                string rowId = "turPlayId_" + item.Id;
            <tr id="@rowId">
                @if (item.GuestId != null)
                {
                    <td class="bg-warning">Гость<br />@item.Guest.Name</td>
                    @if (item.Tournament.Type != Tennis.Models.Type.ManOne
                        || item.Tournament.Type != Tennis.Models.Type.WomenOne
                        && item.Preferences != null)
                    {
                        <td>
                            Желаемый напарник: <p>@item.Preferences</p>
                        </td>
                    }
                }
                @if (item.UserId != null)
                {
                    <td class="bg-info">@item.User.Name</td>
                    @if (item.Tournament.Type != Tennis.Models.Type.ManOne
                       || item.Tournament.Type != Tennis.Models.Type.WomenOne
                       && item.Preferences != null)
                    {
                        <td>
                            Желаемый напарник: <p>@item.Preferences</p>
                        </td>
                    }
                }
                <td>
                    @if (item.Tournament.Type == Tennis.Models.Type.Mixed
       || item.Tournament.Type == Tennis.Models.Type.ManTwo
       || item.Tournament.Type == Tennis.Models.Type.WomenTwo)
                    {
                        string dropId = "drop_list_" + @item.Id;
                        <select name="users" id="@dropId">
                        </select>
                    }

                </td>
                <td>@item.Tournament.Name</td>
                @if (item.GuestId != null)
                {
                    <td>@item.Guest.PhoneNumber</td>
                }
                @if (item.UserId != null)
                {
                    <td>@item.User.PhoneNumber</td>
                }
                @if (item.Tournament.Type == Tennis.Models.Type.Mixed
     || item.Tournament.Type == Tennis.Models.Type.ManTwo
     || item.Tournament.Type == Tennis.Models.Type.WomenTwo)
                {
                    <td>
                        <button class="btn btn-success" type="submit" onclick="approve('@item.Id')">Принять</button>
                    </td>

                }
                else
                {
                    <td>
                        <p id=@item.Id class="card-text mx-5 "><a id="accept" class="btn btn-success">Принять</a></p>
                    </td>
                }
            </tr>

            }

        </tbody>
    </table>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        $(function () { createDropdown('@ViewBag.IdTournament')})
    $('#mainTable').on('click', function (e) {
        if (e.target.id == "accept") {
            var target = e.target
            var parent = target.parentElement
                    $.post('@Url.Action("AcceptUser", "TournamentPlayer")',
                        {
                            id: parent.id
                        },
                        function (response) {
                            if (response.value == 'OK') {
                                swal("Невозможно добавить участника в турнир, т.к. уже достигнуто максимальное число участников турнира",'' , 'warning');
                            }
                            else {
                                swal("Пользователь успешно добавлен в список участников турнира", "", 'success')
                                let i = 0
                                console.log(parent.id);
                                console.log(target.id);
                                console.log(response);
                                $('#turPlayId_' + parent.id).empty();
                                while (i < response.length){
                                    var tr = $('<tr/>')
                                    $('#tableBody').append(tr)
                                    var nameTd = $('<td/>').addClass('bg-info').text(response[i].user.name)
                                    tr.append(nameTd)
                                    var tournamentTd = $('<td/>').text(response[i].tournament.name)
                                    tr.append(tournamentTd)
                                    var phoneTd = $('<td/>').text(response[i].user.phoneNumber)
                                    tr.append(phoneTd)
                                    var linkTd = $('<td/>')
                                    tr.append(linkTd)
                                    var acceptBtnP = $('<p/>').addClass('"card-text mx-5 ').attr('id', response[i].id)
                                    var acceptBtnA = $('<a/>').addClass(' btn  btn-success').text('Принять').attr('id', 'accept')
                                    linkTd.append(acceptBtnP)
                                    acceptBtnP.append(acceptBtnA)
                                    i++
                                }
                            }


                        }
                    )
                }

    });
        function createDropdown(id) {
            console.log(id);
                $.get('@Url.Action("CreateDropDown", "TournamentPlayer")', {
                    id, type: 'two',
                }, function (response) {
                    console.log(response);
                    for (let i = 0; i < response.length; i++) {
                        for (let j = 0; j < response.length; j++) {
                            if (response[i].id != response[j].id) {
                                if (response[j].user == null) {
                                    $('#drop_list_' + response[i].id).append('<option value="' + response[j].guest.id + '">' + response[j].guest.name + '</option>');
                                } else if (response[j].guest == null) {
                                    $('#drop_list_' + response[i].id).append('<option value="' + response[j].user.id + '">' + response[j].user.name + '</option>');
                                }
                            }
                        }
                    }
                })
        }

        function approve(id) {
            var player = $("#drop_list_" + id).val();
            $.post('@Url.Action("ApprovePair", "TournamentPlayer")', {
                Id: id,
                playerTwo: player
            }, function (response) {
                window.location.reload();
            })
        }


    </script>
}





